In [1]:
import sqlite3
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

## Acquire data

Our data comes from a database file in SQLite format. We import it into a Pandas DataFrame for preprocessing.

In [2]:
# open connection 
conn = sqlite3.connect("data/database.sqlite")
cur = conn.cursor()

In [3]:
# function to execute queries
def executeQuery(cur, query):
    print("executing query: ")
    cur.execute(query)
    return cur.fetchall()

In [4]:
# list of all tables
q_all_tables = """SELECT name FROM sqlite_master
    WHERE type='table';"""
all_tables = executeQuery(cur, q_all_tables)
# print(all_tables)

executing query:

In [5]:
# read the Match table into Pandas DataFrame
q_matches = "SELECT * FROM MATCH;"
df_matches = pd.read_sql_query(q_matches, conn)

### Preprocessing Data
- we are dropping the columns that will not be needed for preliminary analysis

In [6]:
# do this only 1
# drop betting
df_matches = df_matches.drop(df_matches.iloc[:, 85:], axis=1)

#drop statistics
df_matches = df_matches.drop(df_matches.iloc[:, 77:], axis=1)

# drop X, Y positions
df_matches = df_matches.drop(df_matches.iloc[:, 11:55], axis=1)
# drop fifa_api_id and a couple other columns irrelevant
df_matches = df_matches.drop(df_matches.columns[[1, 2, 4]], axis=1)

In [7]:

df_matches.head()
# print(df_matches.shape)

,id,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1,home_player_2,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,1,2008/2009,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2008/2009,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2008/2009,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2008/2009,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2008/2009,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# read the Match table into Pandas DataFrame
q_player = "SELECT * FROM PLAYER;"
df_player = pd.read_sql_query(q_player, conn)

In [9]:
# Drop player_fifa_api_id from player table
df_player = df_player.drop('player_fifa_api_id', axis=1)
df_player.tail()

,id,player_api_id,player_name,birthday,height,weight
11055,11071,26357,Zoumana Camara,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176

In [10]:
# import data from player attribute table
q_player_attr = "SELECT * FROM Player_Attributes;"
df_player_attr = pd.read_sql_query(q_player_attr, conn)
df_player_attr = df_player_attr.loc[:, ['player_api_id', 'date', 'overall_rating']]

df_player_attr.tail(100)

        player_api_id                 date  overall_rating
183878          99031  2015-09-25 00:00:00            80.0
183879          99031  2015-09-21 00:00:00            80.0
183880          99031  2015-04-10 00:00:00            78.0
183881          99031  2014-09-18 00:00:00            78.0
183882          99031  2014-05-09 00:00:00            76.0
...               ...                  ...             ...
183973          39902  2009-08-30 00:00:00            83.0
183974          39902  2009-02-22 00:00:00            78.0
183975          39902  2008-08-30 00:00:00            77.0
183976          39902  2007-08-30 00:00:00            78.0
183977          39902  2007-02-22 00:00:00            80.0

[100 rows x 3 columns]

In [11]:
# import team name
q_team = "SELECT * FROM Team"
df_team = pd.read_sql_query(q_team, conn)
df_team = df_team.loc[:, ['team_api_id', 'team_long_name', 'team_short_name']]

df_team.tail(10)

     team_api_id      team_long_name team_short_name
289        10179             FC Sion             SIO
290        10199           FC Luzern             LUZ
291         9824            FC Vaduz             VAD
292         7955     Neuchâtel Xamax             XAM
293        10243           FC Zürich             ZUR
294        10190       FC St. Gallen             GAL
295        10191             FC Thun             THU
296         9777         Servette FC             SER
297         7730  FC Lausanne-Sports             LAU
298         7896              Lugano             LUG

In [12]:
# import Country but wont use them they dont add value to the model
q_country = "SELECT * FROM Country"
df_country = pd.read_sql_query(q_country, conn)
df_country.tail()

       id         name
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [13]:
# import League but wont use them they dont add value to the model
q_league = "SELECT * FROM League"
df_league = pd.read_sql_query(q_league, conn)
df_league.tail()

       id  country_id                      name
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [14]:
# import Team_Attributes but wont use them they dont add value to the model
q_team_attr = "SELECT * FROM Team_Attributes"
df_team_attr = pd.read_sql_query(q_team_attr, conn)
df_team_attr.tail()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
1453,1454,15005,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,52,Mixed,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,1455,15005,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,1456,15005,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,1457,15005,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,1458,15005,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

## Consolidating features from Matches, Players, and other dataframes into a single DF
This is the basis for model building

In [15]:
df_main = df_matches
df_main.tail()

,id,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1,home_player_2,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
25974,25975,2015/2016,2015-09-22 00:00:00,1992091,10190,10191,1,0,42231.0,678384.0,...,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0
25975,25976,2015/2016,2015-09-23 00:00:00,1992092,9824,10199,1,2,33272.0,41621.0,...,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0
25976,25977,2015/2016,2015-09-23 00:00:00,1992093,9956,10179,2,0,157856.0,274779.0,...,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0
25977,25978,2015/2016,2015-09-22 00:00:00,1992094,7896,10243,0,0,NaN,8881.0,...,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0
25978,25979,2015/2016,2015-09-23 00:00:00,1992095,10192,9931,4,3,274787.0,492132.0,...,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0

## Feb 22, Join player name into main_df

In [16]:
print(df_main.shape)

(25979, 30)

In [17]:

# NB RUN THIS CODE ONLY ONCE or restart needed
df_main = df_main.rename(columns={"id":"id_main"})
df_player = df_player.rename(columns={"id":"id_player"})

hp = 'home_player_'
for i in range(1, 12):
    hp_n = hp+str(i)
    df_main = df_main.set_index(hp_n).join(df_player.set_index('player_api_id'))
    df_main = df_main.rename(columns={"id_player": hp_n+"_id", "player_name": hp_n+"_name", "birthday": hp_n+"_birthday", "height":hp_n+"_height", "weight":hp_n+"_weight"})

ap = 'away_player_'
for i in range(1, 12):
    ap_n = ap+str(i)
    df_main = df_main.set_index(ap_n).join(df_player.set_index('player_api_id'))
    df_main = df_main.rename(columns={"id_player": ap_n+"_id", "player_name": ap_n+"_name", "birthday": ap_n+"_birthday", "height":ap_n+"_height", "weight":ap_n+"_weight"})

In [18]:
print(df_main.shape)
print()

(25979, 118)

In [19]:
df_main.info()
df_main.tail(100)

<class 'pandas.core.frame.DataFrame'>
Float64Index: 25979 entries, 2802.0 to nan
Columns: 118 entries, id_main to away_player_11_weight
dtypes: float64(66), int64(6), object(46)
memory usage: 23.6+ MB

,id_main,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1_id,home_player_1_name,...,away_player_10_id,away_player_10_name,away_player_10_birthday,away_player_10_height,away_player_10_weight,away_player_11_id,away_player_11_name,away_player_11_birthday,away_player_11_height,away_player_11_weight
NaN,24562,2008/2009,2008-07-20 00:00:00,486266,7955,10243,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24563,2008/2009,2008-09-26 00:00:00,486310,6493,9956,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24564,2008/2009,2008-09-27 00:00:00,486311,9931,10192,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24565,2008/2009,2008-09-27 00:00:00,486312,10179,9930,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24566,2008/2009,2008-09-28 00:00:00,486313,9824,10199,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,24733,2008/2009,2008-09-13 00:00:00,486305,9931,10199,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24734,2008/2009,2008-09-13 00:00:00,486306,9956,9930,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24735,2008/2009,2008-09-13 00:00:00,486307,7955,10179,3,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24736,2008/2009,2008-09-14 00:00:00,486308,6493,10192,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24737,2008/2009,2008-09-14 00:00:00,486309,9824,10243,1,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
no_nans = df_main[~df_main.isnull().any(axis=1)]
print(no_nans.shape)
no_nans.tail()

(21374, 118)

,id_main,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1_id,home_player_1_name,...,away_player_10_id,away_player_10_name,away_player_10_birthday,away_player_10_height,away_player_10_weight,away_player_11_id,away_player_11_name,away_player_11_birthday,away_player_11_height,away_player_11_weight
717557.0,15628,2015/2016,2016-04-10 00:00:00,1983538,10228,10229,4,2,3101.0,Erwin Mulder,...,10644.0,Vincent Janssen,1994-06-15 00:00:00,182.88,176.0,6118.0,Levi Garcia,1997-11-20 00:00:00,175.26,159.0
725718.0,15656,2015/2016,2016-05-01 00:00:00,1983566,9791,10217,1,1,1355.0,Bram Castro,...,7532.0,Mike Havenaar,1987-05-20 00:00:00,193.04,179.0,2571.0,Dennis van der Heijden,1997-02-17 00:00:00,193.04,165.0
726956.0,25875,2015/2016,2016-04-13 00:00:00,1992161,7896,9931,1,4,7609.0,Mirko Salvi,...,1276.0,Birkir Bjarnason,1988-05-27 00:00:00,182.88,165.0,1619.0,Cedric Itten,1996-12-27 00:00:00,185.42,176.0
726956.0,25943,2015/2016,2016-05-22 00:00:00,1992224,10192,9931,2,3,11005.0,Yvon Mvogo,...,8872.0,Renato Steffen,1991-11-03 00:00:00,170.18,150.0,1619.0,Cedric Itten,1996-12-27 00:00:00,185.42,176.0
726956.0,25918,2015/2016,2016-04-24 00:00:00,1992199,9824,9931,0,0,8560.0,Peter Jehle,...,1380.0,Breel Embolo,1997-02-14 00:00:00,185.42,185.0,1619.0,Cedric Itten,1996-12-27 00:00:00,185.42,176.0

In [21]:
# calculate age
pd.options.mode.chained_assignment = None
df_main_nn = no_nans

hp = 'home_player_'
ap = 'away_player_'
for i in range(1, 12):
    hp_n = hp+str(i)
    ap_n = ap+str(i)
    df_main_nn['date'] = pd.to_datetime(df_main_nn['date'])
    df_main_nn[hp_n+"_birthday"] = pd.to_datetime(df_main_nn[hp_n+"_birthday"])
    df_main_nn[ap_n+"_birthday"] = pd.to_datetime(df_main_nn[ap_n+"_birthday"])
    
    df_main_nn[hp_n+"_age"] = (df_main_nn['date'].dt.year - df_main_nn[hp_n+"_birthday"].dt.year)
    df_main_nn[ap_n+"_age"] = (df_main_nn['date'].dt.year - df_main_nn[ap_n+"_birthday"].dt.year)

In [22]:
df_main_nn = no_nans
print(df_main_nn.shape)
pd.options.display.max_columns = None
df_main_nn.tail()

(21374, 140)

,id_main,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1_id,home_player_1_name,home_player_1_birthday,home_player_1_height,home_player_1_weight,home_player_2_id,home_player_2_name,home_player_2_birthday,home_player_2_height,home_player_2_weight,home_player_3_id,home_player_3_name,home_player_3_birthday,home_player_3_height,home_player_3_weight,home_player_4_id,home_player_4_name,home_player_4_birthday,home_player_4_height,home_player_4_weight,home_player_5_id,home_player_5_name,home_player_5_birthday,home_player_5_height,home_player_5_weight,home_player_6_id,home_player_6_name,home_player_6_birthday,home_player_6_height,home_player_6_weight,home_player_7_id,home_player_7_name,home_player_7_birthday,home_player_7_height,home_player_7_weight,home_player_8_id,home_player_8_name,home_player_8_birthday,home_player_8_height,home_player_8_weight,home_player_9_id,home_player_9_name,home_player_9_birthday,home_player_9_height,home_player_9_weight,home_player_10_id,home_player_10_name,home_player_10_birthday,home_player_10_height,home_player_10_weight,home_player_11_id,home_player_11_name,home_player_11_birthday,home_player_11_height,home_player_11_weight,away_player_1_id,away_player_1_name,away_player_1_birthday,away_player_1_height,away_player_1_weight,away_player_2_id,away_player_2_name,away_player_2_birthday,away_player_2_height,away_player_2_weight,away_player_3_id,away_player_3_name,away_player_3_birthday,away_player_3_height,away_player_3_weight,away_player_4_id,away_player_4_name,away_player_4_birthday,away_player_4_height,away_player_4_weight,away_player_5_id,away_player_5_name,away_player_5_birthday,away_player_5_height,away_player_5_weight,away_player_6_id,away_player_6_name,away_player_6_birthday,away_player_6_height,away_player_6_weight,away_player_7_id,away_player_7_name,away_player_7_birthday,away_player_7_height,away_player_7_weight,away_player_8_id,away_player_8_name,away_player_8_birthday,away_player_8_height,away_player_8_weight,away_player_9_id,away_player_9_name,away_player_9_birthday,away_player_9_height,away_player_9_weight,away_player_10_id,away_player_10_name,away_player_10_birthday,away_player_10_height,away_player_10_weight,away_player_11_id,away_player_11_name,away_player_11_birthday,away_player_11_height,away_player_11_weight,home_player_1_age,away_player_1_age,home_player_2_age,away_player_2_age,home_player_3_age,away_player_3_age,home_player_4_age,away_player_4_age,home_player_5_age,away_player_5_age,home_player_6_age,away_player_6_age,home_player_7_age,away_player_7_age,home_player_8_age,away_player_8_age,home_player_9_age,away_player_9_age,home_player_10_age,away_player_10_age,home_player_11_age,away_player_11_age
717557.0,15628,2015/2016,2016-04-10,1983538,10228,10229,4,2,3101.0,Erwin Mulder,1989-03-03,193.04,194.0,9935.0,Stefano Marzo,1991-03-22,180.34,159.0,5225.0,Joost van Aken,1994-05-13,193.04,165.0,5718.0,Kenny Otigba,1992-08-29,187.96,185.0,6278.0,Lucas Bijker,1993-03-04,175.26,163.0,4900.0,Jerry St. Juste,1996-10-19,185.42,157.0,5071.0,Joey van den Berg,1986-02-13,182.88,170.0,1360.0,Branco van den Boomen,1995-07-21,190.50,183.0,933.0,Arber Zeneli,1995-02-25,175.26,159.0,7633.0,Mitchell te Vrede,1991-08-07,193.04,183.0,9409.0,Sam Larsson,1993-04-10,180.34,168.0,9701.0,Sergio Rochet,1993-03-23,190.50,176.0,2586.0,Derrick Luckassen,1995-07-03,185.42,165.0,9210.0,Ron Vlaar,1985-02-16,187.96,174.0,10070.0,Stijn Wuytens,1989-10-08,182.88,170.0,8989.0,Ridgeciano Haps,1993-06-12,175.26,146.0,10210.0,Thom Haye,1995-02-09,177.80,163.0,6920.0,Markus Henriksen,1992-07-25,187.96,172.0,5299.0,Joris van Overeem,1994-07-01,180.34,157.0,531.0,Alireza Jahanbakhsh,1993-10-08,180.34,165.0,10644.0,Vincent Janssen,1994-06-15,182.88,176.0,6118.0,Levi Garcia,1997-11-20,175.26,159.0,27,23,25,21,22,31,24,27,23,23,20,21,30,24,21,22,21,23,25,22,23,19
725718.0,15656,2015/2016,2016-05-01,1983566,9791,10217,1,1,1355.0,Bram Castro,1982-09-30,190.50,183.0,9088.0,Robin Gosens,1994-07-05,182.88,168.0,8795.0,Ramon Zomer,1983-04-13,182.88,165.0,3860.0,Gino Bosz,1993-04-23,187.96,154.0,6895.0,Mark-Jan Fledderus,1982-12-14,177.80,157.0,10215.0,Thomas Bruns,1992-01-07,177.80,152.0,5068.0,Joey Pelupessy,1993-05-15,172.72,139.0,4363.0,Iiass Bel Hassani,1992-09-16,172.72,159.0,4674.0,Jaroslav Navratil,1991-12-30,180.34,154.0,10851.0,Wouter Weghorst,1992-08-07,198.12,185.0,8575.0,Peter van Ooijen,1992-02-16,177.80,148.0,6970.0,Martin Hansen,1990-06-15,187.96,192.0,10504.0,Tyronne Ebuehi,1995-12-16,187.96,159.0,10367.0,Tom Beugelsdijk,1990-08-07,193.04,174.0,10780.0,Wilfried Kanon,1993-07-06,187.96,187.0,10.0,Aaron Meijers,1987-10-28,175.26,170.0,2222.0,Danny Bakker,1995-01-16,177.80,154.0,10236.0,Thomas Kristensen,1983-04-17,187.96,174.0,5754.0,Kevin Jansen,1992-04-08,177.80,170.0,2874.0,Edouard Duplan,1983-05-13,180.34,163.0,7532.0,Mike Havenaar,1987-05-20,193.04,179.0,2571.0,Dennis van der Heijden,1997-02-17,193.04,165.0,34,26,22,21,33,26,23,23,34,29,24,21,23,33,24,24,25,33,24,29,24,19
726956.0,25875,2015/2016,2016-04-13,1992161,7896,9931,1,4,7609.0,Mirko Salvi,1994-02-14,187.96,176.0,3587.0,Frederic Veseli,1992-11-20,182.88,176.0,7999.0,Niko Datkovic,1993-04-21,190.50,190.0,8186.0,Orlando Urbano,1984-06-09,182.88,174.0,3941.0,Goran Jozinovic,1990-08-27,177.80,163.0,6831.0,Mario Piccinocchi,1995-02-21,172.72,148.0,2730.0,Domen Crnigoj,1995-11-18,185.42,176.0,870.0,Antoine Rey,1986-08-25,167.64,148.0,878.0,Antonini Culina,1992-01-27,182.88,170.0,604.0,Anastasios Donis,1996-08-29,177.80,163.0,7204.0,Mattia Bottani,1991-05-24,170.18,139.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,10153.0,Taulant Xhaka,1991-03-28,172.72,159.0,10737.0,Walter Samuel,1978-03-23,182.88,179.0,138.0,Adama Traore,1990-02-03,170.18,161.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,7117.0,Matias Emilio Delgado,1982-12-15,182.88,174.0,1276.0,Birkir Bjarnason,1988-05-27,182.88,165.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,22,27,24,23,23,25,32,38,26,26,21,22,21,26,30,25,24,34,20,28,25,20
726956.0,25943,2015/2016,2016-05-22,1992224,10192,9931,2,3,11005.0,Yvon Mvogo,1994-06-06,187.96,185.0,3403.0,Florent Hadergjonaj,1994-07-31,182.88,159.0,7571.0,Milan Vilotic,1986-10-21,190.50,185.0,10014.0,Steve von Bergen,1983-06-10,182.88,174.0,4632.0,Jan Lecjaks,1990-08-09,185.42,179.0,10961.0,Yoric Ravet,1989-09-12,177.80,163.0,6092.0,Leonardo Bertone,1994-03-14,177.80,159.0,7562.0,Milan Gajic,1986-11-17,182.88,168.0,7601.0,Miralem Sulejmani,1988-12-05,177.80,170.0,455.0,Alexander Gerndt,1986-07-14,185.42,176.0,4049.0,Guillaume Hoarau,1984-03-05,193.04,176.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,6784.0,Marek Suchy,1988-03-29,182.88,168.0,3046.0,Eray Cumart,1998-02-04,180.34,176.0,138.0,Adama Traore,1990-02-03,170.18,161.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,4788.0,Jean-Paul Boetius,1994-03-22,177.80,148.0,7117.0,Matias Emilio Delgado,1982-12-15,182.88,174.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,22,27,22,23,30,28,33,18,26,26,27,22,22,26,30,22,28,34,30,25,32,20
726956.0,25918,2015/2016,2016-04-24,1992199,9824,9931,0,0,8560.0,Peter Jehle,1982-01-22,187.96,176.0,3431.0,Florian Stahel,1985-03-10,182.88,172.0,6809.0,Mario Buehler,1992-02-05,190.50,172.0,9823.0,Simone Grippo,1988-12-12,187.96,181.0,7882.0,Nick von Niederhausern,1989-09-28,177.80,157.0,10078.0,Stjepan Kukuruzovic,1989-06-07,180.34,168.0,2617.0,Diego Ciccone,1987-07-21,172.72,163.0,1058.0,Axel Borgmann,1994-07-08,177.80,165.0,2507.0,Dejan Janjatovic,1992-02-25,185.42,192.0,7687.0,Moreno Costanzo,1988-02-20,177.80,163.0,960.0,Armando Sadiku,1991-05-27,185.42,176.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,6784.0,Marek Suchy,1988-03-29,182.88,168.0,10153.0,Taulant Xhaka,1991-03-28,172.72,159.0,1160.0,Behrang Safari,1985-02-09,182.88,170.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,1276.0,Birkir Bjarnason,1988-05-27,182.88,165.0,1380.0,Breel Embolo,1997-02-14,185.42,185.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,34,27,31,28,24,25,28,31,27,25,27,26,29,22,22,23,24,28,28,19,25,20

In [23]:
df_main_nn.head()

,id_main,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1_id,home_player_1_name,home_player_1_birthday,home_player_1_height,home_player_1_weight,home_player_2_id,home_player_2_name,home_player_2_birthday,home_player_2_height,home_player_2_weight,home_player_3_id,home_player_3_name,home_player_3_birthday,home_player_3_height,home_player_3_weight,home_player_4_id,home_player_4_name,home_player_4_birthday,home_player_4_height,home_player_4_weight,home_player_5_id,home_player_5_name,home_player_5_birthday,home_player_5_height,home_player_5_weight,home_player_6_id,home_player_6_name,home_player_6_birthday,home_player_6_height,home_player_6_weight,home_player_7_id,home_player_7_name,home_player_7_birthday,home_player_7_height,home_player_7_weight,home_player_8_id,home_player_8_name,home_player_8_birthday,home_player_8_height,home_player_8_weight,home_player_9_id,home_player_9_name,home_player_9_birthday,home_player_9_height,home_player_9_weight,home_player_10_id,home_player_10_name,home_player_10_birthday,home_player_10_height,home_player_10_weight,home_player_11_id,home_player_11_name,home_player_11_birthday,home_player_11_height,home_player_11_weight,away_player_1_id,away_player_1_name,away_player_1_birthday,away_player_1_height,away_player_1_weight,away_player_2_id,away_player_2_name,away_player_2_birthday,away_player_2_height,away_player_2_weight,away_player_3_id,away_player_3_name,away_player_3_birthday,away_player_3_height,away_player_3_weight,away_player_4_id,away_player_4_name,away_player_4_birthday,away_player_4_height,away_player_4_weight,away_player_5_id,away_player_5_name,away_player_5_birthday,away_player_5_height,away_player_5_weight,away_player_6_id,away_player_6_name,away_player_6_birthday,away_player_6_height,away_player_6_weight,away_player_7_id,away_player_7_name,away_player_7_birthday,away_player_7_height,away_player_7_weight,away_player_8_id,away_player_8_name,away_player_8_birthday,away_player_8_height,away_player_8_weight,away_player_9_id,away_player_9_name,away_player_9_birthday,away_player_9_height,away_player_9_weight,away_player_10_id,away_player_10_name,away_player_10_birthday,away_player_10_height,away_player_10_weight,away_player_11_id,away_player_11_name,away_player_11_birthday,away_player_11_height,away_player_11_weight,home_player_1_age,away_player_1_age,home_player_2_age,away_player_2_age,home_player_3_age,away_player_3_age,home_player_4_age,away_player_4_age,home_player_5_age,away_player_5_age,home_player_6_age,away_player_6_age,home_player_7_age,away_player_7_age,home_player_8_age,away_player_8_age,home_player_9_age,away_player_9_age,home_player_10_age,away_player_10_age,home_player_11_age,away_player_11_age
2802.0,3391,2012/2013,2013-01-12,1229331,8668,10003,0,0,10301.0,Tim Howard,1979-03-06,190.50,194.0,9552.0,Seamus Coleman,1988-10-11,177.80,170.0,8588.0,Phil Jagielka,1982-08-17,182.88,183.0,10118.0,Sylvain Distin,1977-12-16,193.04,194.0,6060.0,Leighton Baines,1984-12-11,170.18,154.0,10604.0,Victor Anichebe,1988-04-23,185.42,176.0,8593.0,Philip Neville,1977-01-21,180.34,168.0,6087.0,Leon Osman,1981-05-17,172.72,141.0,10046.0,Steven Pienaar,1982-03-17,170.18,146.0,6940.0,Marouane Fellaini,1987-11-22,193.04,187.0,7991.0,Nikica Jelavic,1985-08-27,187.96,185.0,7442.0,Michel Vorm,1983-10-20,182.88,190.0,2819.0,Dwight Tiendalli,1985-10-21,175.26,161.0,1023.0,Ashley Williams,1984-08-23,182.88,201.0,1695.0,Chico,1987-03-06,187.96,165.0,1164.0,Ben Davies,1993-04-24,180.34,157.0,803.0,Angel Rangel,1982-10-28,180.34,181.0,10101.0,Sung-Yueng Ki,1989-01-24,185.42,165.0,5696.0,Kemy Agustien,1986-08-20,177.80,165.0,7798.0,Nathan Dyer,1987-11-29,167.64,137.0,7462.0,Michu,1986-03-21,185.42,176.0,8249.0,Pablo Hernandez,1985-04-11,172.72,159.0,34,30,25,28,31,29,36,26,29,20,25,31,36,24,32,27,31,26,26,27,28,28
2802.0,3441,2012/2013,2013-02-17,1229387,8650,10003,5,0,8541.0,Pepe Reina,1982-08-31,187.96,203.0,3905.0,Glen Johnson,1984-08-23,182.88,154.0,4609.0,Jamie Carragher,1978-01-28,185.42,183.0,2092.0,Daniel Agger,1984-12-12,190.50,185.0,5320.0,Jose Enrique,1986-01-23,182.88,168.0,10062.0,Stewart Downing,1984-07-22,180.34,143.0,10028.0,Steven Gerrard,1980-05-30,182.88,183.0,6286.0,Lucas Leiva,1987-01-09,177.80,161.0,8608.0,Philippe Coutinho,1992-06-12,170.18,150.0,6377.0,Luis Suarez,1987-01-24,182.88,187.0,2169.0,Daniel Sturridge,1989-09-01,187.96,168.0,7442.0,Michel Vorm,1983-10-20,182.88,190.0,2819.0,Dwight Tiendalli,1985-10-21,175.26,161.0,3671.0,Garry Monk,1979-03-06,182.88,179.0,5944.0,Kyle Bartley,1991-05-22,193.04,207.0,1164.0,Ben Davies,1993-04-24,180.34,157.0,6080.0,Leon Britton,1982-09-16,167.64,143.0,5696.0,Kemy Agustien,1986-08-20,177.80,165.0,5171.0,Jonathan De Guzman,1987-09-13,172.72,154.0,9154.0,Roland Lamah,1987-12-31,180.34,157.0,4436.0,Itay Shechter,1987-02-22,177.80,170.0,8249.0,Pablo Hernandez,1985-04-11,172.72,159.0,31,30,29,28,35,34,29,22,27,20,29,31,33,27,26,26,21,26,26,26,24,28
2862.0,7956,2008/2009,2009-03-13,499527,8721,10189,4,3,2610.0,Diego Benaglio,1983-09-08,193.04,196.0,8570.0,Peter Pekarik,1986-10-30,175.26,154.0,679.0,Andrea Barzagli,1981-05-08,187.96,192.0,4645.0,Jan Simunek,1987-02-20,187.96,174.0,6625.0,Marcel Schaefer,1984-06-07,182.88,165.0,460.0,Alexander Madlung,1982-07-11,193.04,203.0,1752.0,Christian Gentner,1985-08-14,187.96,179.0,5415.0,Josue,1979-07-19,170.18,146.0,11075.0,Zvjezdan Misimovic,1982-06-05,180.34,176.0,3960.0,Grafite,1979-04-02,187.96,194.0,2861.0,Edin Dzeko,1986-03-17,193.04,185.0,7091.0,Mathias Schober,1976-04-08,190.50,207.0,8775.0,Rafinha,1985-09-07,172.72,150.0,1181.0,Benedikt Hoewedes,1988-02-29,187.96,181.0,7635.0,Mladen Krstajic,1974-03-04,190.50,192.0,6114.0,Levan Kobiashvili,1977-07-10,182.88,174.0,4170.0,Heiko Westermann,1983-08-14,190.50,192.0,4874.0,Jermaine Jones,1981-11-03,182.88,172.0,4473.0,Ivan Rakitic,1988-03-10,182.88,172.0,4804.0,Jefferson Farfan,1984-10-26,177.80,185.0,5762.0,Kevin Kuranyi,1982-03-02,190.50,194.0,10600.0,Vicente Sanchez,1979-12-07,170.18,146.0,26,33,23,24,28,21,22,35,25,32,27,26,24,28,30,21,27,25,30,27,23,30
2862.0,7976,2008/2009,2009-04-03,499547,9912,10189,0,2,2561.0,Dennis Eilhoff,1982-07-31,190.50,198.0,6918.0,Markus Bollmann,1981-01-06,190.50,176.0,663.0,Andre Mijatovic,1979-12-03,190.50,176.0,7897.0,"Nico Herzig,19",1983-10-12,187.96,185.0,6925.0,Markus Schuler,1977-08-01,182.88,174.0,9304.0,Ruediger Kauf,1975-03-01,172.72,143.0,10260.0,Thorben Marx,1981-06-01,182.88,183.0,9050.0,Robert Tesche,1987-05-27,180.34,157.0,1714.0,"Chris Katongo,30",1982-08-31,170.18,157.0,10692.0,Vlad Munteanu,1981-01-16,182.88,172.0,1007.0,Artur Wichniarek,1977-02-28,182.88,174.0,6556.0,Manuel Neuer,1986-03-27,193.04,203.0,8775.0,Rafinha,1985-09-07,172.72,150.0,6640.0,Marcelo Jose Bordon,1976-01-07,187.96,198.0,4170.0,Heiko Westermann,1983-08-14,190.50,192.0,1766.0,Christian Pander,1983-08-28,185.42,176.0,4874.0,Jermaine Jones,1981-11-03,182.88,172.0,6114.0,Levan Kobiashvili,1977-07-10,182.88,174.0,4103.0,Halil Altintop,1982-12-08,185.42,165.0,4804.0,Jefferson Farfan,1984-10-26,177.80,185.0,5762.0,Kevin Kuranyi,1982-03-02,190.50,194.0,10600.0,Vicente Sanchez,1979-12-07,170.18,146.0,27,23,28,24,30,33,26,26,32,26,34,28,28,32,22,27,27,25,28,27,32,30
2983.0,22821,2011/2012,2012-02-20,1051872,8394,8603,0,2,9087.0,Roberto,1986-02-10,193.04,190.0,8267.0,Pablo Sebastian Alvarez,1984-04-17,177.80,181.0,8435.0,Paulo da Silva,1980-02-01,180.34,168.0,4740.0,Javier Paredes,1982-07-05,175.26,170.0,4463.0,Ivan Obradovic,1988-07-25,180.34,174.0,881.0,Antonio Apono,1984-02-13,172.72,159.0,9277.0,Ruben Micael,1986-08-19,175.26,154.0,6356.0,Luis Garcia,1981-02-06,177.80,152.0,799.0,Angel Lafita,1984-08-07,187.96,161.0,2882.0,Edu Oriol,1986-11-05,175.26,154.0,1575.0,Carlos Reina Aranda,1980-07-27,185.42,181.0,3210.0,Fabri,1987-12-17,182.88,176.0,7837.0,Nelson,1983-06-10,170.18,150.0,8423.0,Paulao,1982-08-06,187.96,194.0,5319.0,Jose Dorado,1982-07-10,180.34,154.0,7776.0,Nacho Perez,1980-06-24,175.26,154.0,1178.0,Benat Etxebarria,1987-02-19,175.26,159.0,5314.0,Jose Canas,1987-05-27,177.80,152.0,9267.0,Ruben Castro,1981-06-27,175.26,159.0,9398.0,Salva Sevilla,1984-03-18,177.80,154.0,4806.0,Jefferson Montero,1989-09-01,170.18,141.0,5283.0,Jorge Molina,1982-04-22,187.96,192.0,26,25,28,29,32,30,30,30,24,32,28,25,26,25,31,31,28,28,26,23,32,30

In [24]:
# Average Height for teams

hp = 'home_player_'
hp_col_list_height = [hp+str(i)+'_height' for i in range(1,12)] 
print(hp_col_list_height)    

ap = 'away_player_'
ap_col_list_height = [ap+str(i)+'_height' for i in range(1,12)] 
print(ap_col_list_height)   

df_main_nn[hp+'height_total'] = df_main_nn[hp_col_list_height].sum(axis=1)
df_main_nn[ap+'height_total'] = df_main_nn[ap_col_list_height].sum(axis=1)

['home_player_1_height', 'home_player_2_height', 'home_player_3_height', 'home_player_4_height', 'home_player_5_height', 'home_player_6_height', 'home_player_7_height', 'home_player_8_height', 'home_player_9_height', 'home_player_10_height', 'home_player_11_height']
['away_player_1_height', 'away_player_2_height', 'away_player_3_height', 'away_player_4_height', 'away_player_5_height', 'away_player_6_height', 'away_player_7_height', 'away_player_8_height', 'away_player_9_height', 'away_player_10_height', 'away_player_11_height']

In [25]:
# Average Weight for teams

hp = 'home_player_'
hp_col_list_weight = [hp+str(i)+'_weight' for i in range(1,12)] 
hp_col_list_age = [hp+str(i)+'_age' for i in range(1,12)] 
print(hp_col_list_weight)    

ap = 'away_player_'
ap_col_list_weight = [ap+str(i)+'_weight' for i in range(1,12)]
ap_col_list_age = [ap+str(i)+'_age' for i in range(1,12)] 
print(ap_col_list_weight)   



df_main_nn[hp+'weight_total'] = df_main_nn[hp_col_list_weight].sum(axis=1)
df_main_nn[ap+'weight_total'] = df_main_nn[ap_col_list_weight].sum(axis=1)

df_main_nn[hp+'age_total'] = df_main_nn[hp_col_list_age].sum(axis=1)
df_main_nn[ap+'age_total'] = df_main_nn[ap_col_list_age].sum(axis=1)

df_main_nn[hp+'age_average'] = (df_main_nn[hp+'age_total']/11)
df_main_nn[ap+'age_average'] = (df_main_nn[ap+'age_total']/11)

['home_player_1_weight', 'home_player_2_weight', 'home_player_3_weight', 'home_player_4_weight', 'home_player_5_weight', 'home_player_6_weight', 'home_player_7_weight', 'home_player_8_weight', 'home_player_9_weight', 'home_player_10_weight', 'home_player_11_weight']
['away_player_1_weight', 'away_player_2_weight', 'away_player_3_weight', 'away_player_4_weight', 'away_player_5_weight', 'away_player_6_weight', 'away_player_7_weight', 'away_player_8_weight', 'away_player_9_weight', 'away_player_10_weight', 'away_player_11_weight']

In [26]:
# calculate BMI for teams 
df_main_nn['home_team_bmi'] = ((df_main_nn['home_player_weight_total']/2.20462)/((df_main_nn['home_player_height_total']/100)**2))*11
df_main_nn['away_team_bmi'] = ((df_main_nn['away_player_weight_total']/2.20462)/((df_main_nn['away_player_height_total']/100)**2))*11

In [27]:
df_main_nn.tail()

,id_main,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1_id,home_player_1_name,home_player_1_birthday,home_player_1_height,home_player_1_weight,home_player_2_id,home_player_2_name,home_player_2_birthday,home_player_2_height,home_player_2_weight,home_player_3_id,home_player_3_name,home_player_3_birthday,home_player_3_height,home_player_3_weight,home_player_4_id,home_player_4_name,home_player_4_birthday,home_player_4_height,home_player_4_weight,home_player_5_id,home_player_5_name,home_player_5_birthday,home_player_5_height,home_player_5_weight,home_player_6_id,home_player_6_name,home_player_6_birthday,home_player_6_height,home_player_6_weight,home_player_7_id,home_player_7_name,home_player_7_birthday,home_player_7_height,home_player_7_weight,home_player_8_id,home_player_8_name,home_player_8_birthday,home_player_8_height,home_player_8_weight,home_player_9_id,home_player_9_name,home_player_9_birthday,home_player_9_height,home_player_9_weight,home_player_10_id,home_player_10_name,home_player_10_birthday,home_player_10_height,home_player_10_weight,home_player_11_id,home_player_11_name,home_player_11_birthday,home_player_11_height,home_player_11_weight,away_player_1_id,away_player_1_name,away_player_1_birthday,away_player_1_height,away_player_1_weight,away_player_2_id,away_player_2_name,away_player_2_birthday,away_player_2_height,away_player_2_weight,away_player_3_id,away_player_3_name,away_player_3_birthday,away_player_3_height,away_player_3_weight,away_player_4_id,away_player_4_name,away_player_4_birthday,away_player_4_height,away_player_4_weight,away_player_5_id,away_player_5_name,away_player_5_birthday,away_player_5_height,away_player_5_weight,away_player_6_id,away_player_6_name,away_player_6_birthday,away_player_6_height,away_player_6_weight,away_player_7_id,away_player_7_name,away_player_7_birthday,away_player_7_height,away_player_7_weight,away_player_8_id,away_player_8_name,away_player_8_birthday,away_player_8_height,away_player_8_weight,away_player_9_id,away_player_9_name,away_player_9_birthday,away_player_9_height,away_player_9_weight,away_player_10_id,away_player_10_name,away_player_10_birthday,away_player_10_height,away_player_10_weight,away_player_11_id,away_player_11_name,away_player_11_birthday,away_player_11_height,away_player_11_weight,home_player_1_age,away_player_1_age,home_player_2_age,away_player_2_age,home_player_3_age,away_player_3_age,home_player_4_age,away_player_4_age,home_player_5_age,away_player_5_age,home_player_6_age,away_player_6_age,home_player_7_age,away_player_7_age,home_player_8_age,away_player_8_age,home_player_9_age,away_player_9_age,home_player_10_age,away_player_10_age,home_player_11_age,away_player_11_age,home_player_height_total,away_player_height_total,home_player_weight_total,away_player_weight_total,home_player_age_total,away_player_age_total,home_player_age_average,away_player_age_average,home_team_bmi,away_team_bmi
717557.0,15628,2015/2016,2016-04-10,1983538,10228,10229,4,2,3101.0,Erwin Mulder,1989-03-03,193.04,194.0,9935.0,Stefano Marzo,1991-03-22,180.34,159.0,5225.0,Joost van Aken,1994-05-13,193.04,165.0,5718.0,Kenny Otigba,1992-08-29,187.96,185.0,6278.0,Lucas Bijker,1993-03-04,175.26,163.0,4900.0,Jerry St. Juste,1996-10-19,185.42,157.0,5071.0,Joey van den Berg,1986-02-13,182.88,170.0,1360.0,Branco van den Boomen,1995-07-21,190.50,183.0,933.0,Arber Zeneli,1995-02-25,175.26,159.0,7633.0,Mitchell te Vrede,1991-08-07,193.04,183.0,9409.0,Sam Larsson,1993-04-10,180.34,168.0,9701.0,Sergio Rochet,1993-03-23,190.50,176.0,2586.0,Derrick Luckassen,1995-07-03,185.42,165.0,9210.0,Ron Vlaar,1985-02-16,187.96,174.0,10070.0,Stijn Wuytens,1989-10-08,182.88,170.0,8989.0,Ridgeciano Haps,1993-06-12,175.26,146.0,10210.0,Thom Haye,1995-02-09,177.80,163.0,6920.0,Markus Henriksen,1992-07-25,187.96,172.0,5299.0,Joris van Overeem,1994-07-01,180.34,157.0,531.0,Alireza Jahanbakhsh,1993-10-08,180.34,165.0,10644.0,Vincent Janssen,1994-06-15,182.88,176.0,6118.0,Levi Garcia,1997-11-20,175.26,159.0,27,23,25,21,22,31,24,27,23,23,20,21,30,24,21,22,21,23,25,22,23,19,2037.08,2006.60,1886.0,1823.0,261,256,23.727273,23.272727,22.676941,22.590404
725718.0,15656,2015/2016,2016-05-01,1983566,9791,10217,1,1,1355.0,Bram Castro,1982-09-30,190.50,183.0,9088.0,Robin Gosens,1994-07-05,182.88,168.0,8795.0,Ramon Zomer,1983-04-13,182.88,165.0,3860.0,Gino Bosz,1993-04-23,187.96,154.0,6895.0,Mark-Jan Fledderus,1982-12-14,177.80,157.0,10215.0,Thomas Bruns,1992-01-07,177.80,152.0,5068.0,Joey Pelupessy,1993-05-15,172.72,139.0,4363.0,Iiass Bel Hassani,1992-09-16,172.72,159.0,4674.0,Jaroslav Navratil,1991-12-30,180.34,154.0,10851.0,Wouter Weghorst,1992-08-07,198.12,185.0,8575.0,Peter van Ooijen,1992-02-16,177.80,148.0,6970.0,Martin Hansen,1990-06-15,187.96,192.0,10504.0,Tyronne Ebuehi,1995-12-16,187.96,159.0,10367.0,Tom Beugelsdijk,1990-08-07,193.04,174.0,10780.0,Wilfried Kanon,1993-07-06,187.96,187.0,10.0,Aaron Meijers,1987-10-28,175.26,170.0,2222.0,Danny Bakker,1995-01-16,177.80,154.0,10236.0,Thomas Kristensen,1983-04-17,187.96,174.0,5754.0,Kevin Jansen,1992-04-08,177.80,170.0,2874.0,Edouard Duplan,1983-05-13,180.34,163.0,7532.0,Mike Havenaar,1987-05-20,193.04,179.0,2571.0,Dennis van der Heijden,1997-02-17,193.04,165.0,34,26,22,21,33,26,23,23,34,29,24,21,23,33,24,24,25,33,24,29,24,19,2001.52,2042.16,1764.0,1887.0,290,284,26.363636,25.818182,21.970384,22.576224
726956.0,25875,2015/2016,2016-04-13,1992161,7896,9931,1,4,7609.0,Mirko Salvi,1994-02-14,187.96,176.0,3587.0,Frederic Veseli,1992-11-20,182.88,176.0,7999.0,Niko Datkovic,1993-04-21,190.50,190.0,8186.0,Orlando Urbano,1984-06-09,182.88,174.0,3941.0,Goran Jozinovic,1990-08-27,177.80,163.0,6831.0,Mario Piccinocchi,1995-02-21,172.72,148.0,2730.0,Domen Crnigoj,1995-11-18,185.42,176.0,870.0,Antoine Rey,1986-08-25,167.64,148.0,878.0,Antonini Culina,1992-01-27,182.88,170.0,604.0,Anastasios Donis,1996-08-29,177.80,163.0,7204.0,Mattia Bottani,1991-05-24,170.18,139.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,10153.0,Taulant Xhaka,1991-03-28,172.72,159.0,10737.0,Walter Samuel,1978-03-23,182.88,179.0,138.0,Adama Traore,1990-02-03,170.18,161.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,7117.0,Matias Emilio Delgado,1982-12-15,182.88,174.0,1276.0,Birkir Bjarnason,1988-05-27,182.88,165.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,22,27,24,23,23,25,32,38,26,26,21,22,21,26,30,25,24,34,20,28,25,20,1978.66,1973.58,1823.0,1829.0,268,294,24.363636,26.727273,23.232891,23.429508
726956.0,25943,2015/2016,2016-05-22,1992224,10192,9931,2,3,11005.0,Yvon Mvogo,1994-06-06,187.96,185.0,3403.0,Florent Hadergjonaj,1994-07-31,182.88,159.0,7571.0,Milan Vilotic,1986-10-21,190.50,185.0,10014.0,Steve von Bergen,1983-06-10,182.88,174.0,4632.0,Jan Lecjaks,1990-08-09,185.42,179.0,10961.0,Yoric Ravet,1989-09-12,177.80,163.0,6092.0,Leonardo Bertone,1994-03-14,177.80,159.0,7562.0,Milan Gajic,1986-11-17,182.88,168.0,7601.0,Miralem Sulejmani,1988-12-05,177.80,170.0,455.0,Alexander Gerndt,1986-07-14,185.42,176.0,4049.0,Guillaume Hoarau,1984-03-05,193.04,176.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,6784.0,Marek Suchy,1988-03-29,182.88,168.0,3046.0,Eray Cumart,1998-02-04,180.34,176.0,138.0,Adama Traore,1990-02-03,170.18,161.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,4788.0,Jean-Paul Boetius,1994-03-22,177.80,148.0,7117.0,Matias Emilio Delgado,1982-12-15,182.88,174.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,22,27,22,23,30,28,33,18,26,26,27,22,22,26,30,22,28,34,30,25,32,20,2024.38,1976.12,1894.0,1818.0,302,271,27.454545,24.636364,23.059763,23.228769
726956.0,25918,2015/2016,2016-04-24,1992199,9824,9931,0,0,8560.0,Peter Jehle,1982-01-22,187.96,176.0,3431.0,Florian Stahel,1985-03-10,182.88,172.0,6809.0,Mario Buehler,1992-02-05,190.50,172.0,9823.0,Simone Grippo,1988-12-12,187.96,181.0,7882.0,Nick von Niederhausern,1989-09-28,177.80,157.0,10078.0,Stjepan Kukuruzovic,1989-06-07,180.34,168.0,2617.0,Diego Ciccone,1987-07-21,172.72,163.0,1058.0,Axel Borgmann,1994-07-08,177.80,165.0,2507.0,Dejan Janjatovic,1992-02-25,185.42,192.0,7687.0,Moreno Costanzo,1988-02-20,177.80,163.0,960.0,Armando Sadiku,1991-05-27,185.42,176.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,6784.0,Marek Suchy,1988-03-29,182.88,168.0,10153.0,Taulant Xhaka,1991-03-28,172.72,159.0,1160.0,Behrang Safari,1985-02-09,182.88,170.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,1276.0,Birkir Bjarnason,1988-05-27,182.88,165.0,1380.0,Breel Embolo,1997-02-14,185.42,185.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,34,27,31,28,24,25,28,31,27,25,27,26,29,22,22,23,24,28,28,19,25,20,2006.60,1988.82,1885.0,1838.0,299,274,27.181818,24.909091,23.358701,23.185341

In [28]:
df_main_nn['outcome'] = (df_main_nn["home_team_goal"] > df_main_nn["away_team_goal"])

In [29]:
df_main_nn.tail()

,id_main,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1_id,home_player_1_name,home_player_1_birthday,home_player_1_height,home_player_1_weight,home_player_2_id,home_player_2_name,home_player_2_birthday,home_player_2_height,home_player_2_weight,home_player_3_id,home_player_3_name,home_player_3_birthday,home_player_3_height,home_player_3_weight,home_player_4_id,home_player_4_name,home_player_4_birthday,home_player_4_height,home_player_4_weight,home_player_5_id,home_player_5_name,home_player_5_birthday,home_player_5_height,home_player_5_weight,home_player_6_id,home_player_6_name,home_player_6_birthday,home_player_6_height,home_player_6_weight,home_player_7_id,home_player_7_name,home_player_7_birthday,home_player_7_height,home_player_7_weight,home_player_8_id,home_player_8_name,home_player_8_birthday,home_player_8_height,home_player_8_weight,home_player_9_id,home_player_9_name,home_player_9_birthday,home_player_9_height,home_player_9_weight,home_player_10_id,home_player_10_name,home_player_10_birthday,home_player_10_height,home_player_10_weight,home_player_11_id,home_player_11_name,home_player_11_birthday,home_player_11_height,home_player_11_weight,away_player_1_id,away_player_1_name,away_player_1_birthday,away_player_1_height,away_player_1_weight,away_player_2_id,away_player_2_name,away_player_2_birthday,away_player_2_height,away_player_2_weight,away_player_3_id,away_player_3_name,away_player_3_birthday,away_player_3_height,away_player_3_weight,away_player_4_id,away_player_4_name,away_player_4_birthday,away_player_4_height,away_player_4_weight,away_player_5_id,away_player_5_name,away_player_5_birthday,away_player_5_height,away_player_5_weight,away_player_6_id,away_player_6_name,away_player_6_birthday,away_player_6_height,away_player_6_weight,away_player_7_id,away_player_7_name,away_player_7_birthday,away_player_7_height,away_player_7_weight,away_player_8_id,away_player_8_name,away_player_8_birthday,away_player_8_height,away_player_8_weight,away_player_9_id,away_player_9_name,away_player_9_birthday,away_player_9_height,away_player_9_weight,away_player_10_id,away_player_10_name,away_player_10_birthday,away_player_10_height,away_player_10_weight,away_player_11_id,away_player_11_name,away_player_11_birthday,away_player_11_height,away_player_11_weight,home_player_1_age,away_player_1_age,home_player_2_age,away_player_2_age,home_player_3_age,away_player_3_age,home_player_4_age,away_player_4_age,home_player_5_age,away_player_5_age,home_player_6_age,away_player_6_age,home_player_7_age,away_player_7_age,home_player_8_age,away_player_8_age,home_player_9_age,away_player_9_age,home_player_10_age,away_player_10_age,home_player_11_age,away_player_11_age,home_player_height_total,away_player_height_total,home_player_weight_total,away_player_weight_total,home_player_age_total,away_player_age_total,home_player_age_average,away_player_age_average,home_team_bmi,away_team_bmi,outcome
717557.0,15628,2015/2016,2016-04-10,1983538,10228,10229,4,2,3101.0,Erwin Mulder,1989-03-03,193.04,194.0,9935.0,Stefano Marzo,1991-03-22,180.34,159.0,5225.0,Joost van Aken,1994-05-13,193.04,165.0,5718.0,Kenny Otigba,1992-08-29,187.96,185.0,6278.0,Lucas Bijker,1993-03-04,175.26,163.0,4900.0,Jerry St. Juste,1996-10-19,185.42,157.0,5071.0,Joey van den Berg,1986-02-13,182.88,170.0,1360.0,Branco van den Boomen,1995-07-21,190.50,183.0,933.0,Arber Zeneli,1995-02-25,175.26,159.0,7633.0,Mitchell te Vrede,1991-08-07,193.04,183.0,9409.0,Sam Larsson,1993-04-10,180.34,168.0,9701.0,Sergio Rochet,1993-03-23,190.50,176.0,2586.0,Derrick Luckassen,1995-07-03,185.42,165.0,9210.0,Ron Vlaar,1985-02-16,187.96,174.0,10070.0,Stijn Wuytens,1989-10-08,182.88,170.0,8989.0,Ridgeciano Haps,1993-06-12,175.26,146.0,10210.0,Thom Haye,1995-02-09,177.80,163.0,6920.0,Markus Henriksen,1992-07-25,187.96,172.0,5299.0,Joris van Overeem,1994-07-01,180.34,157.0,531.0,Alireza Jahanbakhsh,1993-10-08,180.34,165.0,10644.0,Vincent Janssen,1994-06-15,182.88,176.0,6118.0,Levi Garcia,1997-11-20,175.26,159.0,27,23,25,21,22,31,24,27,23,23,20,21,30,24,21,22,21,23,25,22,23,19,2037.08,2006.60,1886.0,1823.0,261,256,23.727273,23.272727,22.676941,22.590404,True
725718.0,15656,2015/2016,2016-05-01,1983566,9791,10217,1,1,1355.0,Bram Castro,1982-09-30,190.50,183.0,9088.0,Robin Gosens,1994-07-05,182.88,168.0,8795.0,Ramon Zomer,1983-04-13,182.88,165.0,3860.0,Gino Bosz,1993-04-23,187.96,154.0,6895.0,Mark-Jan Fledderus,1982-12-14,177.80,157.0,10215.0,Thomas Bruns,1992-01-07,177.80,152.0,5068.0,Joey Pelupessy,1993-05-15,172.72,139.0,4363.0,Iiass Bel Hassani,1992-09-16,172.72,159.0,4674.0,Jaroslav Navratil,1991-12-30,180.34,154.0,10851.0,Wouter Weghorst,1992-08-07,198.12,185.0,8575.0,Peter van Ooijen,1992-02-16,177.80,148.0,6970.0,Martin Hansen,1990-06-15,187.96,192.0,10504.0,Tyronne Ebuehi,1995-12-16,187.96,159.0,10367.0,Tom Beugelsdijk,1990-08-07,193.04,174.0,10780.0,Wilfried Kanon,1993-07-06,187.96,187.0,10.0,Aaron Meijers,1987-10-28,175.26,170.0,2222.0,Danny Bakker,1995-01-16,177.80,154.0,10236.0,Thomas Kristensen,1983-04-17,187.96,174.0,5754.0,Kevin Jansen,1992-04-08,177.80,170.0,2874.0,Edouard Duplan,1983-05-13,180.34,163.0,7532.0,Mike Havenaar,1987-05-20,193.04,179.0,2571.0,Dennis van der Heijden,1997-02-17,193.04,165.0,34,26,22,21,33,26,23,23,34,29,24,21,23,33,24,24,25,33,24,29,24,19,2001.52,2042.16,1764.0,1887.0,290,284,26.363636,25.818182,21.970384,22.576224,False
726956.0,25875,2015/2016,2016-04-13,1992161,7896,9931,1,4,7609.0,Mirko Salvi,1994-02-14,187.96,176.0,3587.0,Frederic Veseli,1992-11-20,182.88,176.0,7999.0,Niko Datkovic,1993-04-21,190.50,190.0,8186.0,Orlando Urbano,1984-06-09,182.88,174.0,3941.0,Goran Jozinovic,1990-08-27,177.80,163.0,6831.0,Mario Piccinocchi,1995-02-21,172.72,148.0,2730.0,Domen Crnigoj,1995-11-18,185.42,176.0,870.0,Antoine Rey,1986-08-25,167.64,148.0,878.0,Antonini Culina,1992-01-27,182.88,170.0,604.0,Anastasios Donis,1996-08-29,177.80,163.0,7204.0,Mattia Bottani,1991-05-24,170.18,139.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,10153.0,Taulant Xhaka,1991-03-28,172.72,159.0,10737.0,Walter Samuel,1978-03-23,182.88,179.0,138.0,Adama Traore,1990-02-03,170.18,161.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,7117.0,Matias Emilio Delgado,1982-12-15,182.88,174.0,1276.0,Birkir Bjarnason,1988-05-27,182.88,165.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,22,27,24,23,23,25,32,38,26,26,21,22,21,26,30,25,24,34,20,28,25,20,1978.66,1973.58,1823.0,1829.0,268,294,24.363636,26.727273,23.232891,23.429508,False
726956.0,25943,2015/2016,2016-05-22,1992224,10192,9931,2,3,11005.0,Yvon Mvogo,1994-06-06,187.96,185.0,3403.0,Florent Hadergjonaj,1994-07-31,182.88,159.0,7571.0,Milan Vilotic,1986-10-21,190.50,185.0,10014.0,Steve von Bergen,1983-06-10,182.88,174.0,4632.0,Jan Lecjaks,1990-08-09,185.42,179.0,10961.0,Yoric Ravet,1989-09-12,177.80,163.0,6092.0,Leonardo Bertone,1994-03-14,177.80,159.0,7562.0,Milan Gajic,1986-11-17,182.88,168.0,7601.0,Miralem Sulejmani,1988-12-05,177.80,170.0,455.0,Alexander Gerndt,1986-07-14,185.42,176.0,4049.0,Guillaume Hoarau,1984-03-05,193.04,176.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,6784.0,Marek Suchy,1988-03-29,182.88,168.0,3046.0,Eray Cumart,1998-02-04,180.34,176.0,138.0,Adama Traore,1990-02-03,170.18,161.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,4788.0,Jean-Paul Boetius,1994-03-22,177.80,148.0,7117.0,Matias Emilio Delgado,1982-12-15,182.88,174.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,22,27,22,23,30,28,33,18,26,26,27,22,22,26,30,22,28,34,30,25,32,20,2024.38,1976.12,1894.0,1818.0,302,271,27.454545,24.636364,23.059763,23.228769,False
726956.0,25918,2015/2016,2016-04-24,1992199,9824,9931,0,0,8560.0,Peter Jehle,1982-01-22,187.96,176.0,3431.0,Florian Stahel,1985-03-10,182.88,172.0,6809.0,Mario Buehler,1992-02-05,190.50,172.0,9823.0,Simone Grippo,1988-12-12,187.96,181.0,7882.0,Nick von Niederhausern,1989-09-28,177.80,157.0,10078.0,Stjepan Kukuruzovic,1989-06-07,180.34,168.0,2617.0,Diego Ciccone,1987-07-21,172.72,163.0,1058.0,Axel Borgmann,1994-07-08,177.80,165.0,2507.0,Dejan Janjatovic,1992-02-25,185.42,192.0,7687.0,Moreno Costanzo,1988-02-20,177.80,163.0,960.0,Armando Sadiku,1991-05-27,185.42,176.0,10411.0,Tomas Vaclik,1989-03-29,187.96,187.0,6784.0,Marek Suchy,1988-03-29,182.88,168.0,10153.0,Taulant Xhaka,1991-03-28,172.72,159.0,1160.0,Behrang Safari,1985-02-09,182.88,170.0,8872.0,Renato Steffen,1991-11-03,170.18,150.0,6269.0,Luca Zuffi,1990-03-27,180.34,154.0,453.0,Alexander Fransson,1994-04-02,180.34,163.0,7790.0,Naser Aliji,1993-12-27,177.80,161.0,1276.0,Birkir Bjarnason,1988-05-27,182.88,165.0,1380.0,Breel Embolo,1997-02-14,185.42,185.0,1619.0,Cedric Itten,1996-12-27,185.42,176.0,34,27,31,28,24,25,28,31,27,25,27,26,29,22,22,23,24,28,28,19,25,20,2006.60,1988.82,1885.0,1838.0,299,274,27.181818,24.909091,23.358701,23.185341,False

In [30]:
# Create the dataframe for modeling
X = df_main_nn[["home_team_bmi", "away_team_bmi", "home_player_age_average", "away_player_age_average"]].values
y = df_main_nn['outcome'].values


X_train,X_test,y_train,y_test = train_test_split(X,y)

In [31]:
decision_tree = DecisionTreeClassifier()
random_forest = RandomForestClassifier()

decision_tree.fit(X_train, y_train)
random_forest.fit(X_train, y_train)

print(decision_tree.score(X_test, y_test))
print(random_forest.score(X_test, y_test))

0.5084206586826348
0.5177769461077845

In [32]:
# always run this at connecting
conn.close()